﻿@model WebApplication1.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form asp-action="RegisterNewPutin">
        <div>
            <div lign="center" class="container jumbotron bg-light boxshadow" style="width: 35%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-header-pills bg-dark text-white">
                    <h2 class="text-center">Зарегистрируйтесь</h2>
                </div>
                <br />
                <br />
                <div class="form-group" style="width: 80%">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Логин</div>
                        </div>
                        <input asp-for="Login" name="name" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group" style="width: 80%">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Пароль</div>
                        </div>
                        <input asp-for="Password" name="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group" style="width: 80%">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Пароль</div>
                        </div>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
                    <a href="~/Home/Login">Войти</a>
                </div>

            </div>
        </div>
</form>
</body>
</html>
