﻿<!DOCTYPE html>

<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form method="post">
        <div lign="center" class="container jumbotron bg-light boxshadow" style="width: 35%">
            <div class="card-header-pills bg-dark text-white">
                <h2 class="text-center">Войдите в систему</h2>
            </div>
            <br />
            <div class="form-group" style="width: 80%">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Логин</div>
                    </div>
                    <input type="text" name="username" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group" style="width: 80%">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Пароль</div>
                    </div>
                    <input type="password" name="password" />
                </div>
            </div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary">Войти</button>
            <a href="~/Account/Register">Зарегистрироваться</a>
        </div>
        </div>
</form>
</body>
</html>

