﻿@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<head>
<title>История игры</title>
<style>
    HyperLink {
        word-spacing: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="btn btn-outline-dark" href="~/Home/Index"> Главная страница </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark">Ваш профиль<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Histori">История игры<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Roli">Роли игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Pravila">Правила игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Player/Game">Игра</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </form>
</body>
