﻿@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<head>
<title>История игры</title>
<style>
    HyperLink {
        word-spacing: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <asp:Label ID="Label1" BackColor="WhiteSmoke" runat="server" Text="Label"></asp:Label>

        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="btn btn-outline-dark" href="~/Home/Index"> Главная страница </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark">Ваш профиль<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Histori">История игры<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Roli">Роли игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Pravila">Правила игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Player/Game">Игра</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 14rem;">
                        <img src="https://www.mafiasyndicate.ru/data/cards_images_syndicate_style/card_mafia.jpg" class="card-img-top" alt="Mafia">
                        <div class="card-body">
                            <p class="card-text">Каждую ночь Мафия может «убить» только одного игрока. Мафия не может выбрать в качестве жертвы одного из членов своей команды.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 14rem;">
                        <img src="https://www.mafiasyndicate.ru/data/cards_images_syndicate_style/card_sheriff.jpg" class="card-img-top" alt="Sherift">
                        <div class="card-body">
                            <p class="card-text">После того, как Шериф совершил проверку, он засыпает (одевает маску). Если Шериф проверит игрока, которому досталась карта Маньяка, Ведущий покажет отрицание («нет, это не Мафия»)..</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 14rem;">
                        <img src="https://www.mafiasyndicate.ru/data/cards_images_syndicate_style/card_citizen.jpg" class="card-img-top" alt="Mirnii">
                        <div class="card-body">
                            <p class="card-text">Мирные жители – это незнакомые друг с другом простые игроки, составляющие неорганизованное большинство в городе. Мирные жители не выполняют никаких действий ночью, но они являются главной силой против Мафии</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 14rem;">
                        <img src="https://www.mafiasyndicate.ru/data/cards_images_syndicate_style/card_don.jpg" class="card-img-top" alt="Don">
                        <div class="card-body">
                            <p class="card-text">Игрок, которому досталась карта Дона мафии, дополнительно, к возможности проснуться с командой Мафии и «убить», имеет право каждую ночь сделать проверку одного из жителей </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</body>
