﻿html, body {
    padding: 0;
    margin: 0;
    color: white;
}

* {
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
}

#main {
    width: 70%;
    background-color: #FFA500;
    text-align: center;
}

#players {
    width: 30%;
    background-color: #1D2432;
    text-align: center;
    margin-left: 10px;
}

#chat {
    margin-top: 0px;
    width: 100%;
    height: 200px;
    background-color: #524d4d;
    text-align: center;
}


/*чат*/


#chatbox {
    margin-top: 0px;
    width: 100%;
    height: 200px;
    text-align: left;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

