﻿@using WebApplication1.Models
@using WebApplication1.Data.Interfaces
@using WebApplication1.Mocks
@model IEnumerable<Player>

<p>Приветики-омлетики</p>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mafia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Game_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>

<body>
    <div id="container">
        <div id="main" class="text-center">
            <iframe id="events" src="~/event/eventslist" height="90%" width="100%">ууууу</iframe>
        </div>
        <div id="players">
            <p>
                Игроки
            </p>
            <iframe src="~/player/list" height="90%" width="100%">ууууу</iframe>
            @{
                var events = Database.SendQuery($"SELECT * FROM [Event]").Rows;
            }
            @if (Model.Count() >= 1 && ViewData["event"] == null)
            {
                <a asp-controller="Player" asp-action="StartGame">Ну че собаки погнали</a>
            }
        </div>
    </div>

    <div id="chat" class="text-center">
        <form method="post" action="/Chat/AddMessage">
            <div class="text-center">
                <div lign="center">
                    <h2 class="text-center">Чат</h2>
                    <br />
                    <br />
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Сообщение</div>
                        </div>
                        <input id="text" type="text" name="text" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <button class="btn btn-dark">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
