﻿@using WebApplication1.Models
@model IEnumerable<Player>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


                    foreach (var player in Model)
                    {
                    <p class="text-center" style="color:#000000">
                        <a asp-controller="Player" asp-action="GetVote" asp-route-playerName="@player.Name">@player.Name</a>
                    </p> }
 }

<script>
    setTimeout(function () {
        location.reload();
    }, 1500);
</script>
